.card {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__content-1 {
    margin-top: 4rem;
    width: 33.33333%;
    padding-right: 5rem;
    padding-left: 5rem;

    @media screen and (max-width: 1100px) {
      padding-right: 3rem;
      padding-left: 3rem;
    }

    @media screen and (max-width: 830px) {
      width: 50%;
    }

    @media screen and (max-width: 620px) {
      width: 100%;
    }
  }

  &__content {
    margin-top: 4rem;
    width: 25%;
    @media screen and (max-width: 1190px) {
      width: 33.33333%;
    }
    @media screen and (max-width: 800px) {
      width: 50%;
    }
    @media screen and (max-width: 620px) {
      width: 100%;
    }

    padding-right: 5rem;
    padding-left: 5rem;
    &--img {
      width: 100%;
      &-content {
        width: 100%;
        margin: 0 auto;
        display: block;
        height: 28.5rem;
        object-fit: contain;
      }
    }
    &--title {
      width: 70%;
      margin: 1rem auto 0;
      font-size: 1.2rem;
      text-align: center;
      color: #777777;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @media screen and (max-width: 620px) {
        font-size: 1.5rem;
      }
      text-align: center;
      color: rgb(119, 119, 119);
    }
    &--price {
      display: flex;
      justify-content: space-around;
      &-current {
        font-weight: 600;
      }
      &-discount {
        text-decoration-line: line-through;
        color: rgb(153, 153, 153);
      }
    }

    &--button {
      margin-top: 0.5rem;
      display: inline-block;
      padding: 0.5rem 1rem;
      @media screen and (max-width: 620px) {
        padding: 1rem 2rem;
      }
      font-size: 1.2rem;
      background-color: blue;
      color: #fff;
      cursor: pointer;
      &-wapper {
        display: flex;
        justify-content: center;
      }
    }
  }
}
