.app__container {
  border: 1px solid #ccc;
  overflow-y: scroll;
  .btn-floating {
    border-radius: 50%;
  }
}
form {
  font-size: 1.4rem;
}
.form-control-lg {
  font-size: 1.75rem !important;
}
.app__container::-webkit-scrollbar {
  display: none;
}
.form-control-lg {
  padding: 1rem 2rem !important;
}
.pass__icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
}

.form__error {
  border: 2px solid #b21b1b;
  box-shadow: 0 0 0 0.25rem rgb(178, 27, 27, 0.6);
}
.text__error {
  padding-left: 0.5rem;
  font-size: 1.3rem;
  color: #b21b1b;
  margin-top: 0.5rem;
}
.link-danger {
  color: #dc3545 !important;
  display: inline-block;
}
