.contaiber_listadd {
    display: flex;
    width: 100%;
    margin-bottom: 2em;
    justify-content: space-between;

    @media screen and (max-width: 767.98px) {
        display: block;
    }
    &_left {
        padding-left: 2em;
        display: flex;

        @media screen and (max-width: 767.98px) {
            justify-content: space-between;
            padding-right: 0;
            padding-left: 0;
            margin-bottom: 2rem;
        }
        &-img {
            width: 28%;
            padding: auto
        }
        &-title {
            padding-left: 2em;
        }
    }
    &_color {
        display: inline-block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 1px solid rgba(32, 31, 31, 0.3);
    }
    &_right {
        display: flex;
        align-items: center;
        gap: 2rem;
        &-price {
            width: 15rem;
            text-align: end;
        }
        &-option {
            display: flex;
            &-bt {
                text-align: center;
                width: 10rem;
                outline: none;
                border: none;
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;

                @media screen and (max-width: 575.98px) {
                    width: 7rem;
                }
            }
            i {
                border: 1px solid gray;
                line-height: 2.5rem;
                cursor: pointer;
            }
        }
        &-ic {
            height: 1.2em;
            width: 1.2em
        }
    }
}