.container_resigter {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    .background_Img {
        width: 100%;
        filter: blur(10px);
        height: 150vh;
        position: absolute;
        background: url("../assets/png//background/background.jpg")center center /cover no-repeat;
    }
    .content_resigter {
        background-color: white;
        width: 30em;
        height: 55em;
        margin: auto;
        z-index: 99;
        border-radius: 0.5em;
        border: 1px solid #ccc;
        background-color: white;
        box-shadow: 5px 5px 5px #D9D9D9;
        .header_resigter {
            width: 10em;
            height: 15em;
            margin: auto;
            .logo_resigter {
                height: 4em;
                width: 10em;
                margin-top: 2em;
                margin-bottom: 2em;
            }
            label {
                font-weight: bold;
                font-size: 2em;
                margin-left: 1em;
                color: #656A7A;
            }
        }
        .form_resigter {
            margin: auto;
            width: 20em;
            height: 35em;
            padding: auto;
            .acount_resigter {
                height: 5em;
                .MuiSvgIcon-root {
                    font-size: 2em;
                }
                .MuiFormLabel-root {
                    font-size: 1.1em;
                }
                .MuiInputBase-input {
                    font-size: 1.5em;
                }
            }
            .acount_resigter_sex {
                height: 5em;
                .MuiSvgIcon-root {
                    font-size: 2.2em;
                }
                .MuiFormLabel-root {
                    font-size: 1.4em;
                }
                .MuiInputBase-input {
                    font-size: 1.5em;
                }
            }
            .acount_resigter_date {
                height: 5em;
                .MuiSvgIcon-root {
                    font-size: 2.2em;
                }
                .MuiFormLabel-root {
                    font-size: 1.4em;
                }
                .MuiInputBase-input {
                    font-size: 1.5em;
                }
            }
            .acount_resigter_password {
                height: 5em;
                .MuiSvgIcon-root {
                    font-size: 1.5em;
                }
                .MuiFormLabel-root {
                    font-size: 1.1em;
                }
                .MuiInputBase-input {
                    font-size: 1.5em;
                }
            }
        }
        .button_resigter {
            width: 6em;
            margin: auto;
            .MuiButton-root {
                font-size: 1em;
            }
        }
    }
}

@media screen and (max-width:75em) {}

@media screen and (max-width:32.125em) {
    .container_resigter {
        .content_resigter {
            width: 90%;
            .form_resigter {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width:23.125em) {
    .container_resigter {
        .content_login {
            width: 90%;
            .form_resigter {
                width: 90%;
            }
        }
    }
}