.container_resigter {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  .background_img {
    width: 100%;
    filter: blur(10px);
    height: 100vh;
    position: absolute;
    background: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
      center center / cover no-repeat;
  }
  .content_resigter {
    background-color: white;
    width: 50rem;
    margin: auto;
    padding: 1rem 0;
    z-index: 99;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    background-color: white;
    .header_resigter {
      width: 10em;
      height: 15em;
      margin: auto;
      .logo_resigter {
        height: 4em;
        width: 10em;
        margin-top: 2em;
        margin-bottom: 2em;
      }
      label {
        font-weight: bold;
        font-size: 2em;
        margin-left: 1em;
        color: #656a7a;
      }
    }
    .form_resigter {
      margin: auto;
      width: 20em;
      padding: auto;
      .MuiFormHelperText-root {
        font-size: 1.5rem;
      }
      .acount_resigter {
        height: 4.5em;
        .MuiSvgIcon-root {
          font-size: 2em;
        }
        .MuiFormLabel-root {
          font-size: 1.1em;
        }
        .MuiInputBase-input {
          font-size: 1.5em;
        }
      }
      .acount_resigter_sex {
        height: 4.5em;

        .MuiSvgIcon-root {
          font-size: 2.2em;
        }
        .MuiFormLabel-root {
          font-size: 1.4em;
        }
        .MuiInputBase-input {
          font-size: 1.5em;
        }
      }
      .acount_resigter_date {
        height: 4.5em;

        .MuiSvgIcon-root {
          font-size: 2.2em;
        }
        .MuiFormLabel-root {
          font-size: 1.4em;
        }
        .MuiInputBase-input {
          font-size: 1.5em;
        }
      }
      .acount_resigter_password {
        height: 4.5em;

        .MuiSvgIcon-root {
          font-size: 1.5em;
        }
        .MuiFormLabel-root {
          font-size: 1.1em;
        }
        .MuiInputBase-input {
          font-size: 1.5em;
        }
      }
    }
    .button_resigter {
      width: 20%;
      margin: auto;
      .MuiButton-root {
        font-size: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 75em) {
}

@media screen and (max-width: 32.125em) {
  .container_resigter {
    .content_resigter {
      width: 90%;
      .form_resigter {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 23.125em) {
  .container_resigter {
    .content_login {
      width: 90%;
      .form_resigter {
        width: 90%;
      }
    }
  }
}
.container_resigter .content_resigter .form_resigter .MuiFormHelperText-root {
  font-size: 1.1rem;
}
.option_resigter {
  width: 22em;
  margin: auto;
  display: flex;
  margin-top: 1em;
  .resigter_login {
    color: #656a7a;
    font-size: 1.5rem;
    a {
      display: inline-block;
    }
  }
  .resigter {
    font-weight: bold;
    color: #5d78ff;
    cursor: pointer;
  }
}
