// Here you can add other styles
.sidebar-nav::-webkit-scrollbar {
  width: 5px;
}

.sidebar-nav::-webkit-scrollbar-thumb {
  background-color: #999c9f;
}

.button_icon {
  width: 15px!important;
  height: 15px!important;
}


.flex_option {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  &.gap {
    gap: 1rem;
  }
}

.icon-hover {
  cursor: pointer;
}
